
.section-3 {
    display: grid;
    padding: 2em;
    gap: 2rem;

    @media screen and (min-width: 1024px) {
        justify-content: center;
    }

    h2 {
        display: none;
    }

    .price__packages {
        display: grid;
        gap: 1rem;
    }

    .features__container > *:not(:first-child) {
        border-top: 1px solid;

        h3 {
            padding-block-start: 1rem;
        }
    }

    .features__container > *:not(:last-child) {
        .feature__content {
            padding-block-end: 1rem;
        }
    }

    .table__headings > * {
        font-family: var(--ff-4);
    }

    .table__headings > *:not(:first-child) {
        display: none;
    }


    hr {
        width: 100%;
    }

    .feature {
        display: grid;
        gap: 1rem;

        h3 {
            font-size: 1rem;
        }

    }

    .feature h3:not(:first-child) {
        padding-block-start: 1rem;
    }
    .desktop__img {
        display: none;
    }

    .feature__content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;

        .option {
            display: grid;
            gap: .5rem;
            justify-items: center;
        }

        p {
            font-family: var(--ff-1);
            font-weight: 200;
            letter-spacing: 2px;
        }
    }



    @media screen and (min-width: 768px) {

        h2 {
            display: inline-block;
            text-align: center;
            font-size: clamp(1.5rem, 2vw + .5rem, 2rem);
        }


        .table__headings {
            display: grid;
            grid-template-columns: repeat(4,1fr);
        }
        
        .table__headings > *:not(:first-child) {
            display: inline-block;
        }

        .desktop__img {
            display: inline-block;
        }

        .feature {
            grid-template-columns: repeat(4,1fr);
            align-items: center;
        }

        .feature__content {
            display: none;
        }
    }
}
