.heroSection {
  .tablet__img {
    display: none;
  }

  .desktop__img {
    display: none;
  }

  .heroSection__content {
    display: grid;
    gap: 1rem;
    padding: 2em;
    background-color: #000;
  }

  h1 {
    font-size: clamp(1.3rem, 1.5vw + 0.5rem, 3rem);
    line-height: 1.2;
    color: #fff;
  }

  p {
    color: #fff;
  }

  a {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #fff;
    text-decoration: none;
  }
}
