.section-3 {
  display: grid;
  justify-items: center;
  text-align: center;
  gap: 2rem;
  background-image: url(/images/shared/mobile/bg-beta.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding-block: 3em;


  @media screen and (min-width: 768px)  {
    background-image: url(/images/shared/tablet/bg-beta.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }

  @media screen and (min-width:1024px) {
    background-image: url(/images/shared/desktop/bg-beta.jpg);
    background-size: cover;
    background-repeat: no-repeat;

  }

  h2 {
    color: #fff;
  }

  a {
    display: flex;
    align-items: center;
    gap: 1rem;
    text-decoration: none;
    color: #fff;
  }
}
