
.heroSection {
    .mobile__img {
        width: 100%;
      }

    .tablet__img {
        display: none;
    }

    .desktop__img {
        display: none;
    }

    .heroSection__content {
        display: grid;
        gap: 1rem;
        padding: 2em;
        background-color: #000;
    }

    h1 {
        font-size: clamp(1.3rem, 1.5vw + .5rem, 3rem);
        line-height: 1.2;
        color: #fff;
    }

    p {
        display: flex;
        align-items: center;
        gap: .5rem;
        color: #fff;
        font-family: var(--ff-4);


        span {
            font-size: 10px;
            font-weight: 900;
        }
    }

    a {
        display: flex;
        align-items: center;
        gap: 1rem;
        color: #fff;
        text-decoration: none;
        font-weight: 900;
    }


    @media screen and (min-width: 768px) {
        position: relative;
        
        .mobile__img {
            display: none;
        }

        .tablet__img {
            display: inline-block;
            transform: translateY(7px);
        }

        .heroSection__content {
            position: absolute;
            bottom: 0;
            transform: translateY(-50%);
            background-color: unset;
        }
    }


    @media screen and (min-width: 1024px) {
        
        .tablet__img {
            display: none;
        }

        .desktop__img {
            display: inline-block;
            width: 100%;
            transform: translateY(7px);
        }
    }


}


