
.section-4 {
    display: grid;
    justify-items: center;
    padding: 2em;
    gap: 2rem;

    .responsive, .noLimit, .embed {
        display: grid;
        justify-items: center;
        gap: 2rem;
    }

    .responsive__content, .noLimit__content, .embed__content {
        display: grid;
        text-align: center;
    }




}




