
:root {
    --orange: #ffc694;
    --pink: #bc7198;
    --blue: #5776ff;
    --grey-200: #dedede;
    --grey-100: #f5f5f5;
    --ff-1: 'Indie Flower', cursive;
    --ff-2: 'Raleway', sans-serif;
    --ff-3: 'Poppins', sans-serif;
    --ff-4: 'Roboto Serif', serif;
    --fs-400: 400;
    --fs-500: 500;
    --fs-700: 700;

    
}
