:root {
    --accent-color-1: #ffc694;
    --accent-color-2: #bc7198;
    --accent-color-3: #5776ff;
    --pure-black: #000000;
    --light-grey: #dedede;
    --light-grey-2: #f5f5f5;
    --pure-white: #ffffff;
    --ff: "DM Sans", sans-serif;
    --fs-400: 400;
    --fs-500: 500;
    --fs-700: 700;
}