.heroSection {
  .tablet__img {
    display: none;
  }

  .desktop__img {
    display: none;
  }

  .heroSection__content {
    display: grid;
    align-content: center;
    gap: 1rem;
    padding: 2em;
    background-color: #000;
  }

  h1 {
    font-size: clamp(1.3rem, 4vw + 0.5rem, 7rem);
    line-height: 1.2;
    color: #fff;
  }

  p {
    color: #fff;
  }

  a {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: #fff;
    text-decoration: none;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    flex-direction: row-reverse;

    .mobile__img {
      display: none;
    }

    .tablet__img {
      display: inline-block;
    }
  }

  @media screen and (min-width: 1024px) {
    .tablet__img {
      display: none;
    }

    .desktop__img {
      display: inline-block;
      width: 100%;
    }

    h1 {
      font-size: clamp(1.3rem, 3vw + 0.5rem, 5rem);
    }

    .heroSection__content {
      padding-inline: 3em;
    }
  }
}
