.section-4 {
  display: grid;
  justify-items: center;
  padding: 2em;
  gap: 2rem;

  .responsive,
  .noLimit,
  .embed {
    display: grid;
    justify-items: center;
    gap: 2rem;
  }

  .responsive__content,
  .noLimit__content,
  .embed__content {
    display: grid;
    text-align: center;
    gap: 1rem;

    h3 {
      font-family: var(--ff-4);
      font-weight: 900;
    }
  }


  @media screen and (min-width: 768px) {
    padding-block: 4em;
    gap: 3rem;
  }


  @media screen and (min-width:1024px) {
    grid-template-columns: repeat(3,1fr);
    align-items: baseline;
  }
}
